node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

build/
dist/
.out/
.next/
.vercel/
.vscode/

/.pnp
.pnp.js

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log
logs/
*.gz
.cache/
coverage/
.DS_Store

.idea/
.vscode/
*.sublime-workspace

/coverage
/jest/

workbox-*
sw.js
sw.js.map

.storybook/
out/

Thumbs.db
*.swp
*.swo